h1 {
    color: red;
}
h2 {
    color: pink;
}
.textrosy{
    color: rosybrown;
}

.textlavender{
    color: lavender;
}
#textor{
    color: orange;
}
div.mycontainer {
    width:100%;
    overflow:auto;
    text-align: center;
  }
  div.mycontainer div {
    width:33%;  
    float:left;
  }
  .divbg1{
    background-color: pink;
  }
  .divbg2{
    background-color: plum;
  }
  .divbg3{
    background-color: purple;
  }
  